// VARIABLES
// =================================================
$bgColour: rgba(141, 141, 146, 1);
$bgColourOpaque: rgba(141, 141, 146, .2);
$headingColour: #4a4063;
$textColour: #0e1116;
$callToActionColour: #c95746;

$gutterPx: 10px;
$headerHeight: 75px;


// MIXINS
// =================================================
@mixin boxReset {
	padding: 0;
	border: 0;
	margin: 0;
}

@mixin hideText {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}


// SITE CSS - COMMON
// =================================================
body {
	font-family: 'Lato', Arial, sans-serif;
	color: $textColour;
	font-weight: 300;
}

a {
	text-decoration: underline;
	color: $callToActionColour;

	&:visited {
		color: $textColour;
	}

	&:active {
		color: $textColour;
	}
}

header {
	background-color: rgba(255,255,255,0.4);
	border-bottom: 1px solid $headingColour;
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	
	h1 {
		@include boxReset;
		position: absolute;
		top: $gutterPx;
		left: $gutterPx;

		a {
			display: inline-block;
			@include hideText;
			width: 251px;
			height: $headerHeight;
			background: url('/img/logo.png') no-repeat;
		}
	}

	nav {
		float: right;
		height: 100px;

		h2 {
			display: none;
		}

		ul {
			list-style: none;
			padding: $gutterPx;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-justify-content: flex-end;
			-ms-flex-pack: end;
			justify-content: flex-end;

			li {
				display: inline-block;
				margin-right: 4vw;

				a {
					display: table-cell;
					vertical-align: middle;
					display: inline-block;
					height: 50px;
				}

				&:nth-last-child(-n+2) a {
					@include hideText;
					width: 50px;
					background-image: url('/img/twitter.png');
				}

				&:last-child {
					margin-right: 0;

					a {
						@include hideText;
						width: 50px;
						background-image: url('/img/linkedin.png');
					}
				}
			}
		}
	}
}

main {
	margin-top: $headerHeight+$gutterPx*2;
	padding: $gutterPx;

	h1, h2, h3 {
		color: $headingColour;
		font-weight: 300;
	}

	h1 {
		font-size: 1.1em;
	}
}

footer {
	padding: $gutterPx;

	h2 {
		display: none;
	}

	ul {
		@include boxReset;
		list-style: none;
	}
}

.photos {
	ul {
		list-style: none;

		li {
			display: inline-block;
			margin: $gutterPx;
		}
	}
}

.home {
	.projects {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

		article {
			-webkit-flex: 1 1 300px+$gutterPx*2;
			-ms-flex: 1 1 300px+$gutterPx*2;
			flex: 1 1 300px+$gutterPx*2;
			border: 1px solid $bgColour;
			padding: $gutterPx;
			margin-right: $gutterPx;

			&:last-child {
				margin-right: 0;
			}
		}

		.thumbnails {
			text-align: center;
		}
	}
}

// SITE CSS - RETINA
// =================================================
@media all and (-webkit-min-device-pixel-ratio: 2) {
	header h1 a {
		background-image: url('../img/logo@2x.png');
		background-size: 251px 75px;
	}
}