/* Variables */
$contrastHex: #666;
$fadedHex: #eee;
$linkHex: #6e89ce;
$linkVisitedHex: #654;
$linkActiveHex: #ffc37a;
$gutterPx: 10px;
$borderPx: 3px;


/* Mixins */
@mixin box-reset {
	padding: 0;
	border: 0;
	margin: 0;
}

@mixin list-reset {
	list-style: none;
	@include box-reset;
}


/* Styles */
body {
	font-family: Arial, sans-serif;
}

a {
	color: $linkHex;

	&:visited {
		color: $linkVisitedHex;
	}

	&:active {
		color: $linkActiveHex;
	}
}

header {
	border-bottom: $borderPx solid #eee;
	padding: $gutterPx;
	
	h1 {
		@include box-reset;
		letter-spacing: .2em;
		color: $contrastHex;
		font-weight: bolder;
	}

	ul {
		@include list-reset;
	}
}

.mainMenu {
	margin-top: $gutterPx;
	
	li {
		border: 1px solid $fadedHex;
		margin: 0 $gutterPx;
		padding: $gutterPx/2 $gutterPx;
		text-align: center;
	}
}

.content h1 {
	margin: $gutterPx 0 $gutterPx 0;
	padding: 0;
	border: 0;
}

.post .content h2 {
	color: $contrastHex;
	@include box-reset;
	font-size: 1em;
}

.tags {
	font-size: .8em;
	color: $contrastHex;
}

.social {
	text-align: center;

	ul {
		@include list-reset;
	}

	li {
		@include box-reset;
	}
}

.sidebar {
	ol {
		@include list-reset;
	}

	li {
		@include box-reset;
	}
}

#photos, .photos {
	margin-top: $gutterPx*2;
	overflow: hidden;

	h2 {
		display: none;
	}

	ul {
		@include list-reset;
	}

	li {
		@include box-reset;
		float: left;
		height: 75px;
		width: 75px;
	}
}

#bunkercam .photos li {
	width: 320px;
	height: 240px;
}

.postNav {
	clear: both;
	margin-top: $gutterPx*2;
	font-size: .9em;
	padding: 0 !important;

	div {
		padding: 0 !important;
	}

	.next {
		text-align: right;
	}
}

.social {
	li {
		float: right;
	}

	a {
		margin-left: $gutterPx;
	}
}

footer {
	margin-top: $gutterPx*2;
	border-top: $borderPx solid $fadedHex;
	padding: $gutterPx;
	color: $contrastHex;
	font-size: .9em;
	position: relative;
	clear: both;

	.copyright {
		margin-top: .8em;
	}
}